<aside>
  <p>This article is part of a series of articles on search architecture:</p>
  <ul>
    <li><a href="{% post_url 2024-01-23-search-architecture %}">Search architecture</a></li>
    <li><a href="{% post_url 2024-01-30-search-engine-integration %}">Algolia search engine integration</a></li>
    <li><a href="{% post_url 2024-02-02-crawl-site-with-scrapy-and-zyte %}">Crawl and index the site with scrapy and zyte</a></li>
    <li><a href="/demos/search.html">Search demo</a></li>
  </ul>
</aside>
