---
---

@import "{{ site.theme }}";

$highlight-color: #008080;
$border-light: rgba($highlight-color, 0.12);
$border-dark: rgba($highlight-color, 0.88);
$aside-color: $gray-400;
$aside-link-color: rgba($highlight-color, 0.7);
$aside-background-color: white;

.markdown-body {
  &>*:first-child {
    margin-bottom: 0;
  }

  h1, h2 {
    border-bottom: none;
  }

  img {
    border-bottom: solid 5px $border-light;
  }

  table {
    display: table;
    width: 100%;

    tr, td {
      border: none;

      p {
        margin: 0;
      }
    }
  }
  .nav {
    padding-left: 0;
    margin-bottom: 2rem;

    li {
      list-style: none;
      display: inline;
      padding: 0.2rem 0.5rem;

      &.active, &:hover {
        border-bottom: solid 5px $border-dark;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  .recent {
    .date {
      width: 33%;
    }
    .title {
      width: 66%;
    }
  }

  a {
   color: $highlight-color;
  }

  article {
    border-bottom: solid 1px $border-light;

    &:last-child {
      border-bottom: none;
    }
  }

  footer {
    font-size: small;
    text-align: center;
    padding-top: 1rem;
  }

  aside {
    width: 100%;
    padding-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px $border-dark;
    font-style: italic;
    color: $aside-color;
    background-color: $aside-background-color;

    li {
      list-style: none;
    }

    a {
      color: $aside-link-color;
    }
  }

  aside > p {
    margin: 0.5rem;
  }

  .tags {
    margin-top: -.5rem;
    padding-bottom: 1rem;
  }

  .tag {
    font-size: .8rem;
    background-color: $border-light;
    padding: .25rem .5rem;

    &:hover {
      text-decoration: none;
      background-color: $highlight-color;
      color: white;
    }
  }

  .date {
    padding-bottom: .5rem;
  }
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) {
  .markdown-body {
    .recent {
      .date {
        width: 20%;
      }
      .title {
        width: 80%;
      }
    }

    aside {
      width: 40%;
      float: right;
      margin-left: 0.5rem;
    }
  }
}
