---
---

@import "{{ site.theme }}";

$highlight-color: #008080;
$color: #24292e;
$border-light: rgba($highlight-color, 0.12);
$border-dark: rgba($highlight-color, 0.88);

.markdown-body {
  &>*:first-child {
    margin-bottom: 0;
  }

  h1 {
    border-bottom: none;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 2rem;

    li {
      list-style: none;
      display: inline;
      padding: 0.2rem 0.5rem;

      &.active, &:hover {
        border-bottom: solid 5px $border-dark;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  a {
   color: $highlight-color;
  }

  article {
    border-bottom: solid 1px $border-light;
  }

  footer {
    font-size: small;
    text-align: center;
    padding-top: 1rem;
  }
}
